<div class="container">

  <select class="form-control mb-3">
    <option>2019</option>
    <option>2018</option>
    <option>2017</option>
  </select>

  <div class="row">
    <app-board class="col"
               cdkDragList
               [status]="'TODO'"
               [notes]=todo>
    </app-board>
    <app-board class="col"
               cdkDropList
               [status]="'DOING'"
               [notes]=todo>
    </app-board>
    <app-board class="col"
               cdkDropList
               [status]="'DONE'"
               [notes]=todo>
    </app-board>
  </div>

</div>

